body {
  background-color: white;
  color: #333;
}

.homeSearch {
  max-width: 3840px;
  height: 990px;
  /* max 2160px */
  background-image: url("https://cdn.discordapp.com/attachments/739854219485380616/982251898478399499/unknown.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}

.homeBestSeries {
  max-width: 3840px;
  height: 990px;
  /* max 2160px */
  background-image: url("https://cdn.discordapp.com/attachments/739854219485380616/982252604245549056/unknown.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}

.searchFieldBorderRadius {
  border-radius: 25px;
}

.maxWidth500px {
  max-width: 400px;
}

.btnColorSee {
  background-color: rgb(146, 184, 255);
  color: #333;
}