body {
  background-color: white;
  color: #333;
}

.h1_5em {
  font-size: 5em;
}

.borderRadius50px {
  border-radius: 50px;
}

.maxWidth500px {
  max-width: 400px;
}

.btnColorSee {
  background-color: rgb(146, 184, 255);
  color: #333;
}

.homeSearch {
  max-width: 3840px;
  height: 990px;
  /* max 2160px */
  background-image: url("https://cdn.discordapp.com/attachments/739854219485380616/982251898478399499/unknown.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}

.bestSeries {
  height: 690px;
  /* max 2160px */
}

.bestSeriesContent {
  width: 960px;
  height: 540px;
  background-image: url("https://cdn.discordapp.com/attachments/739854219485380616/982266421700616222/star-wars-obi-wan-kenobi-photo-1433710.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 25px;
}

.bestSeriesContent .thumbsCT {
  margin-top: 200px !important;
}

.thumbsCT .thumb {
  border-radius: 15px;
  transition: 0.2s;
  transition-timing-function: ease-out;
}

.thumbsCT .thumb:hover {
  transform: scale(1.1);
}

.subscribeTo {
  max-width: 1920px;
  height: 990px;
  /* 640px */
  background-image: url("https://cdn.discordapp.com/attachments/739854219485380616/982278369913757757/disney-plus-head-banner-logo_0384012C00947643.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #124aa1;
}

.subscribeTo .content {
  margin-top: 640px;
}