.section1 {
    background-image: url(images/cover1.png);
    max-width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    height: 600px;
    opacity: 0.8;
}

i {
    color: rgb(146, 184, 255);
}

.btn-flux {
    font-size: 20px;
    background-color: rgb(146, 184, 255);
    padding: 5px 30px;
}